body {
  font-family: Arial;
  background: #f2f2f2;
}

.container {
  width: 90%;
  max-width: 400px;
  background: white;
  padding: 20px;
  margin: 50px auto;
  border-radius: 10px;
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

#timer {
  font-size: 24px;
  color: red;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}